.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    #plano1-basic{
        background-color: rgb(209, 209, 209);
    }
    #plano2-pro {
        background-color: aliceblue;
    }
    #plano3-kids{
        background-color: rgb(209, 209, 209);
    }

.plano-beneficios{
    font-size: 12px;
    font-family: 'Dosis', sans-serif;
}