body{
    background-color: rgb(25, 24, 36);
}
/* navbar */
/* .navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
.style{
   background-color: rgb(25, 24, 36); 
   border-color: rgb(25, 24, 36);
} */
.descricao{
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    color:gold;
    text-align: justify;
}
.fonte{
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    color: gold;
}
.precadastro{
    text-align: center;
    text-decoration: none;
    color:aliceblue;
    background-color: #348974;
    padding: 10px;
    margin: 20px;
    border-radius: 50px;
}
.link{
    text-decoration: none;
}
.cor-fundo{
    background-color: blanchedalmond;
}
.cor-texto{
    color: goldenrod;
    text-decoration: none;
}