body{
    background-color: rgb(25, 24, 36);
}
.fonte{
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    color: gold;
}
.cor-texto{
    color: goldenrod;
    text-decoration: none;
}
.cor-texto:hover{
    color: #348974;
}
#current-page{
    color: #348974;
}
.imagem{
    float: left;
    border: transparent thin solid;
    padding: 5px;
    max-width: 558px;
}
.descricao{
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    color:gold;
    text-align: justify;
}
h2{
    font-family: Peace Sans;
}
.precadastro{
    text-align: center;
    text-decoration: none;
    color:aliceblue;
    background-color: #348974;
    padding: 10px;
    margin: 20px;
    border-radius: 50px;
}
.link{
    text-decoration: none;
}
.imagens{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
}
.rodape{
    margin: 1%;
}
/* .teste{
    background-color: rgb(25, 24, 36);
} */