body{
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
    background-color: rgb(25, 24, 36);
}
.cor-texto{
    color: #FFDB1D;
} .cor-texto:hover{
    color: #348974;
} #currentpage{
    color: #348974;
} #paginadeLogin{
    text-decoration: none;
}
.box{
    margin-left: 6%; margin-right: 6%;
    margin-top: 5%; margin-bottom: 2%;
    display: flex;
    flex-direction: row-reverse;
}
    .imgBox{
        padding: 1%;
    }
    .contentBox{
        margin: 2%;
        margin-right: 30px;
    } .produto-título{
        margin:1%;
        text-align:right;
        font-size: 45px; color: #FFDB1D;
        font-family: Peace Sans;
    }
    .produto-descrição{
        margin: 2%;
        text-align:right;
        font-size: 22px; color: #FFDB1D;
    }
#subtitle-EscolhaSeuPlano{
    text-align: center;
    font-size: 40px; color: #FFDB1D;
    font-family: Peace Sans;
}
.card-title-plans{
    font-size: 20px; color: rgb(25, 24, 36);
}
.card-text{
    margin-bottom: 0;
    font-size: 16px; color: rgb(25, 24, 36);
}
.plano-mensal{
    margin: 0;
    margin-bottom: 20px;
    font-size: 15px; color: rgb(135, 135, 135);
}
.container-cards{
    font-family:'Questrial', sans-serif;
}
#btn-assinatura{
    margin: 3%; margin-top: 15px;
}

/* css de estruturas do index */
:root {
    --escuro: rgb(25, 24, 36);
    --medio: #FFDB1D;
    --claro: #FFDB1D;
    --agua: #FFDB1D;
    --cinza: #FFDB1D;
  }
  input {
    caret-color: var(--agua);
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--medio);
    border-radius: 10px;
    border: 3px solid #FFDB1D;
  }