*{
    margin:0;
    padding: 0;
    font-family: 'Questrial', sans-serif;;
}
body{
    background-color: rgb(25, 24, 36);
}
.funcionamentoDoProduto{
    background-color: rgb(25, 24, 36);
}
#logoCanarinho{
        margin:0;
        padding: 0;
    }
.descricao-produto{
    margin-left: 30px;
    margin-right: 30px;
    
}
#subtitle-EscolhaSeuPlano{
    margin-top:20px;
    text-align: center;
    display: flex; flex-direction: column; justify-content: center;
}
.card-title{
    text-align: center;
}
.card-posicao-imagem{
    margin: 10px;
    height: 80vh;
    width: 80vw;
}
.plano-beneficios{
    text-decoration: none;
    font-size: 12px;
    font-family: 'Dosis', sans-serif;
}
.beneficios-do-plano{
    margin: 0;

}